IRSE-handout-2025/IRSE-template.aux
IRSE-handout-2025/IRSE-template.bcf
IRSE-handout-2025/IRSE-template.fls
IRSE-handout-2025/IRSE-template.fdb_latexmk
IRSE-handout-2025/IRSE-template.log
IRSE-handout-2025/IRSE-template.out
IRSE-handout-2025/IRSE-template.run.xml
.env
IRSE-handout-2025/IRSE-template.synctex.gz
irse_documents_2025_recipes.parquet*
irse_queries_2025_recipes.json*
IRSE-handout-2025/IRSE-template.bbl
IRSE-handout-2025/IRSE-template.blg
IRSE-handout-2025/IRSE-template.bcf-SAVE-ERROR
IRSE-handout-2025/IRSE-template.bbl-SAVE-ERROR
.venv
__pycache__/
preprocessed_recipes*.pkl
IRSE-handout-2025/pre/IRSE-template.aux
IRSE-handout-2025/pre/IRSE-template.fdb_latexmk
IRSE-handout-2025/pre/IRSE-template.fls
IRSE-handout-2025/pre/IRSE-template.log
IRSE-handout-2025/IRSE-template.pdf
wikIR1k
recipe_embeddings.npy
irse_2025_wikir.zip
recipe_cooking_embeddings.npy
IRSE-handout-2025/slides.aux
.gitignore
IRSE-handout-2025/slides.fdb_latexmk
IRSE-handout-2025/slides.log
IRSE-handout-2025/slides.fls
IRSE-handout-2025/slides.nav
IRSE-handout-2025/slides.out
IRSE-handout-2025/slides.snm
IRSE-handout-2025/slides.synctex.gz
IRSE-handout-2025/slides.toc
wiki_embeddings.npy
IRSE-handout-2025/slides.vrb
wiki_chunks_embeddings.npy


slides.aux
slides.fdb_latexmk
slides.fls
slides.log
slides.nav
slides.out
slides.snm
slides.toc
slides.vrb
Untitled Diagram.drawio
vectorizer_bi.pkl
vectorizer_uni.pkl
X_bi.pkl
X_uni.pkl
slides.synctex.gz
*.zip
part1_embeddings.npy